@model Time.Web.ViewModels.ScheduleViewModel
<div class="panel-body">
    <div class="media">
        
        <div class="media-body">
            <h3 class="media-heading">
                @Model.Day
            </h3>
            <p>@Model.Time</p>
        </div>
    </div>
</div>